html
	head
		title Node Boilerplate
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		!= js('client')
		!= css('global')

	body
		h1 Welcome to the Node Boilerplate
		#output
