html
	head
		title Pyrefly
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		!= js('client')
		!= css('global')

	body
		h1 Pyrefly
		h2 Control Panel
		select#rooms
			option Rooms
		input.persistent#txtRoom(placeholder='Room ID')
		input#txtNick(placeholder='Nickname')
		button#btnJoin Join
		div#roster
		div#output
		input#txtMsg(placeholder='Message')
		button#btnSend Send

