h1
	font-variant small-caps
	font-size 3em
input.persistent
	margin-left: 0
	text-align: left
input#txtMsg
	width: 90%
div#roster
	margin-top: 25px
	width: 18%
	float: left
	height: 68%
	overflow: scroll
	border: 1px solid black
div#output
	width: 80%
	height: 68%
	float: right
	overflow:scroll
	border: 1px solid black
div.visible
	width: 100%
	height: 68%
	border: none
div.invisible
	display: none
	visibility: hidden
	border: none
